
<footer>
  <div class="footer-container">
    <div class="footer-title">
       <img src="assets/contato.png" alt="contato">
    </div>
    <div class="footer-icons">
      <a target="_blank" href="https://wa.me/5511952115379">
      <img src="assets/WTP.png" alt="whatsapp"></a>

      <a  target="_blank" href="mailto:email@provedor.com.br">
      <img src="assets/email.png" alt="email"></a>

      <a target="_blank" href="https://www.instagram.com/fahhiroshi">
      <img src="assets/insta.png" alt="instagram"></a>
    </div>
  </div>


  <p><span>Fabrício Ikehara Inamine </span> &copy; 2024</p>
</footer>
