<div class="card-list-container">
  <div class="btn-position">
    <ng-container *ngIf="!searchResultsAvailable">
      <button (click)="prevPagina()" type="button" class="custom-button-prev" [disabled]="page === 1">Página anterior</button>
      <button (click)="proxPagina()" type="button" class="custom-button-next" style="margin-left: 20px;">Próxima página</button>
    </ng-container>

    <ng-container *ngIf="searchResultsAvailable">
      <button (click)="retrocedePagina()" type="button" class="custom-button-prev">Página Anterior</button>
      <button (click)="avancarPagina()" type="button" class="custom-button-next" style="margin-left: 20px;">Próxima página</button>
    </ng-container>
  </div>

  <div class="card-position">
    <ng-container *ngIf="searchResultsAvailable">
      <div class="card-item" *ngFor="let card of cardListFind; let i = index" [ngClass]="{'d-none': i >= 10}">
        <a [routerLink]="['/detail', card.id]">
          <img class="pokemon-image" [src]="card['images']['small']" [alt]="card['name']" />
        </a>
       </div>
    </ng-container>

    <ng-container *ngIf="!searchResultsAvailable">
      <div class="card-item" *ngFor="let card of cardList; let i = index" [ngClass]="{'d-none': i >= 10}">
        <a [routerLink]="['/detail', card.id]">
          <img class="pokemon-image" [src]="card['images']['small']" [alt]="card['name']" />
        </a>
      </div>
    </ng-container>
  </div>
</div>

  <!-- <div class="search-cards">
    <h3>Buscar</h3>
    <div class="row gy-5 gx-5 align-items-center">
      <div class="col-auto">
        <input type="text" placeholder="Nome da carta" [(ngModel)]="searchText">
        <button (click)="searchCards()">Buscar</button>
      </div>
      <div>
        <h3>Tipo</h3>
        <select class="form-select" [(ngModel)]="selectedType" aria-label="Default select example">
          <option value="">Escolha o tipo...</option>
          <option *ngFor="let type of typesCard" [value]="type">{{ type }}</option>
        </select>
      </div>
    </div>
  </div> -->


<app-footer></app-footer>

