.pokemon-image {
  width: 100%;
  height: auto;
  padding: 5px;
}

.card-position {
  margin-left: 10px;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Adiciona margem superior para evitar sobreposição nas telas menores */
@media (max-width: 768px) {
  .card-position {
    justify-content: center;
    margin-top: 50px; /* Espaço antes das cartas em telas pequenas */
  }
}

.search-cards {
  padding-top: 20px;
  align-items: center;
  margin-left: 75%;
  top: 300px;
}

.btn-position {
  position: absolute;
  top: 100px; /* Ajuste a distância do topo para deixar os botões mais altos */
  left: 37%;
  display: flex;
  gap: 10px;
}

.card-item {
  flex: 0 0 calc(20% - 10px);
  margin: 5px;
}

@media (max-width: 768px) {
  .card-position {
    justify-content: center;
    margin-top: 50px; /* Adiciona margem para evitar sobreposição */
  }

  .card-item {
    flex: 0 0 calc(50% - 10px);
  }

  .btn-position {
    left: 30%;
    top: 360px;
    flex-direction: row;
  }

  .search-cards {
    margin-left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .card-item {
    flex: 0 0 calc(100% - 10px);
  }

  .btn-position {
    left: 0;
    width: 100%;
    top: 340px;
    flex-direction: column;
  }

  .search-cards {
    margin-top: 20px;
  }
}
