.about-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px
}

.about-content{
  display: flex; /* Usa flex para alinhar a imagem e o texto em linha */
  align-items: center; /* Alinha verticalmente a imagem e o texto */
  justify-content: space-between; /* Centraliza o conteúdo horizontalmente */
  margin-left: 5%; /* Adiciona uma margem à esquerda para o conteúdo */
  margin-right: 30%;
}

.about-content img{
  height: 350px;
  width: 250px;
  margin-right: 20px;
}
