<div class="about-container">
  <div><h1>Sobre mim e o projeto...</h1>
  </div>
  <div class="about-content">
    <img src="assets/fabricio.png" alt="cardfoto">
     <div class="about-text">
        <p>Sou o Fabrício tenho 37 anos, e estou cursando faculdade de Engenharia de Computação na UNIVESP.</p>
          <p>Este projeto foi criado a partir de um teste para vaga de front-end junior, ele tem como finalidade praticar consumo de API e noções de CSS e HTML.
          O framework de JavaScript utilizado é o Angular, onde tenho pouco mais familiaridade, também foi usado um pouco de bootStrap.
        </p>
          <a href="https://www.github.com/FabricioIkehara/pokemontcg" target="_blank">www.github.com/FabricioIkehara/pokemontcg</a>
          <p>Esse é o link do repositório do projeto.</p>
          <p>O projeto consome uma API de cartas de pokemon, trazendo uma lista com a coleção de cartas de pokemon atualizada. Alguma opções de filtros e busca de cartas estão sendo implementadas.</p>

      </div>
  </div>


</div>
<app-footer></app-footer>

