

#carouselExampleControls {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px; /* Defina o tamanho máximo do carrossel */
  margin: 0 auto; /* Centralize horizontalmente */
}

/* Estilo para as imagens do carrossel */
.carousel-item img {
  width: 100%; /* Ajuste a largura da imagem para preencher o contêiner */
  height: auto; /* Mantenha a proporção da imagem */
}
